* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #e5e5e5;
}

.main_color {
  color: #6070ff;
}

.h1Color {
  color: #091e42;
}

.pColor {
  color: #344563;
}

.white {
  color: #fff;
}

.nav-header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 70px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px 8%;
  background-color: #fff;
}

.nav-bar {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

.navbar-links {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  color: #091e42;
}

.navbar-links li :hover {
  font-weight: bolder;
  font-size: 20px;
  transition: ease 0.5s;
}

a {
  text-decoration: inherit;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(30deg);
  }
}

.logo {
  text-decoration: none;
  font-size: 18px;
  line-height: 20px;
}

.logo:hover {
  animation: 1s ease-out rotate;
}

.headline-icons {
  margin: 5px;
  display: flex;
  justify-content: flex-start;
}

.icon {
  margin: 10px;
  cursor: pointer;
}

.social-media-icons {
  display: flex;
  align-items: center;
  list-style: none;
}

.work-container1,
.work-container2 {
  width: 80%;
  margin-top: 100px;
  padding: 1%;
  display: flex;
  background-color: #fff;
  border-radius: 20px;
  align-items: center;
}

.work-container1:hover,
.work-container2:hover {
  border: 2px solid #a7aeff;
  cursor: pointer;
  box-shadow: 5px 30px 56.1276px rgb(55 55 55 / 12%);
}

.work-container img {
  width: 45%;
  height: 45%;
  margin: 0.5%;
}

.work-container1 img:hover {
  transition: all ease-in 0.8s;
  transform: scale(0.9);
}

.work {
  display: flex;
  flex-direction: column;
}

.work h2 {
  margin: 10px;
  font-size: 40px;
  color: #172b4d;
}

.facebook {
  margin: 1%;
  align-items: center;
  display: flex;
}

.facebook p {
  margin-right: 10px;
}

.facebook ul {
  display: flex;
  color: #7a869a;
  font-size: 18px;
  justify-content: space-between;
}

.facebook li {
  margin: 0 10px 0 10px;
}

.work-p {
  margin: 0.5%;
  font-size: 15px;
  color: #344563;
}

.work-list {
  margin: 15px 0;
  display: flex;
  justify-content: flex-start;
  list-style: none;
}

.work-list li a {
  width: 70px;
  background-color: #ebebff;
  padding: 4px 10px 4px 10px;
  border: 1px solid transparent;
  border-radius: 8px;
  color: #6070ff;
  margin: 3px;
  font-size: 12px;
  text-align: center;
}

.work-list li a:hover {
  color: #fff;
  background-color: #6070ff;
}

.work-list li a:active {
  color: #fff;
  background-color: #2230d2;
}

.btn {
  width: 30%;
  padding: 10px;
  background-color: #fff;
  color: #396df2;
  font-size: 18px;
  border: 1px solid #6070ff;
  border-radius: 8px;
}

.btn:hover {
  background-color: #4053fc;
  color: #fff;
  transition: ease 1s;
  width: 31%;
}

.about-container {
  width: 100%;
  margin-top: 50px;
  background-color: #fff;
  border-top-right-radius: 50px;
  display: flex;
}

.about-r {
  width: 45%;
  margin: 3%;
  padding: 10px;
}

.about-l {
  width: 45%;
  margin: 3%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.lang {
  display: flex;
}

.lang-bord {
  background-color: #f7f7f9;
  margin: 1%;
  padding: 10px;
  width: 100px;
  color: #172b4d;
}

.about-l h1 {
  margin: 10px;
  font-size: 12px;
}

.about-text {
  margin: 10px;
  font-size: 30px;
}

.about-r p {
  margin: 10px;
  font-size: 16px;
  color: #344563;
}

.about-connect {
  font-size: 16px;
  font-weight: 500;
  margin: 10px;
}

@media only screen and (min-width: 375px) {
  .navbar-links {
    position: absolute;
    top: 0;
    padding-top: 106px;
    right: -100%;
    width: 100%;
    height: 120vh;
    background: #6070ffd7;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    backdrop-filter: blur(5px);
    transition: 0.5s all;
  }

  .open-menu {
    right: 0;
  }

  .headline {
    margin-top: 70px;
    padding-bottom: 4rem;
    border-bottom-left-radius: 5rem;
    background-image:
      url(../Images/headerShapesMobile.png),
      url(../Images/headerBackgroundMobile@2x.png);
    background-size: cover;
  }

  .headline-bord {
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-top: 30%;
  }

  .headline-h1 {
    width: 300px;
    font-size: 40px;
    line-height: 50px;
  }

  .headline-p {
    margin: 2%;
    font-size: 16px;
  }

  .headline-connect {
    margin: 10px;
    font-size: 16px;
  }

  .navbar-links li {
    font-size: 32px;
    font-weight: 600;
    margin-left: 50px;
    padding-bottom: 20px;
  }

  .navbar-links a {
    color: white;
  }

  #menu-icon {
    font-size: 25px;
    z-index: 1;
    cursor: pointer;
  }

  .bx-x {
    font-size: 25px;
    color: white;
  }

  .work-container1,
  .work-container2 {
    width: 90%;
    margin: 60px 24px;
    display: grid;
    grid-template-rows: 40% 60%;
  }

  .work-container1 img,
  .work-container2 img {
    width: 95%;
    height: 95%;
    margin: 5px;
  }

  .work h2 {
    margin: 5px;
    font-size: 32px;
    font-weight: 700;
  }

  .facebook {
    margin: 1%;
    align-items: center;
  }

  .facebook p {
    font-size: 13px;
    margin-right: 10px;
  }

  .facebook ul {
    font-size: 13px;
    font-weight: 600;
  }

  .facebook li {
    margin: 0 10px 0 10px;
  }

  .desktop_link {
    display: none;
  }

  .btn {
    width: 120px;
    font-size: 17px;
  }

  .about-container {
    background-color: #fff;
    border-top-right-radius: 50px;
    display: flex;
    flex-direction: column;
  }

  .about-r {
    width: 90%;
  }

  .about-l {
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  .aboutme-list {
    list-style: none;
  }

  .Skils {
    margin: 10px;
    border-bottom: 0.5px solid black;
  }

  .aboutme-list .bx {
    font-size: 20px;
  }

  .aboutme-list h2 {
    font-size: 20px;
    font-weight: 500;
  }

  .about-text {
    margin-top: 100px;
    font-size: 40px;
  }

  .about-r .btn {
    width: auto;
  }

  .lang {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .lang-bord {
    width: 100%;
    height: 60px;
    margin: 5px;
    display: flex;
    align-items: center;
  }

  .lang-bord h3 {
    font-size: 15px;
    font-weight: 500;
  }

  .Skils,
  .Languages {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .contact-me {
    width: 375px;
    padding-bottom: 1rem;
    background-color: #6070ff;
    border-top-left-radius: 70px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-image: url(../Images/contactFormShapesMobile.png);
    background-size: 265px 709.17px;
    background-position: right;
    background-repeat: no-repeat;
  }

  .contact-me-title {
    margin-top: 103px;
    font-size: 40px;
    font-weight: 700;
  }

  .contact-me-summary {
    font-size: 20px;
    font-weight: 400;
    margin: 12px 24px 36px 24px;
  }

  .contact-form {
    text-align: left;
  }

  .form-i {
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    height: 48px;
    width: 90%;
    margin: 10px 24px;
    padding: 15px 38px 15px 16px;
  }

  textarea {
    width: 90%;
    margin: 10px 24px;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    padding: 15px 38px 15px 16px;
    font-size: 15px;
    font-weight: 400;
  }

  .final-btn {
    width: 40%;
    margin: 10px 24px;
  }
}

@media only screen and (min-width: 768px) {
  .nav-bar {
    width: 100%;
    height: auto;
  }

  .navbar-links {
    background: none;
    backdrop-filter: none;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-top: 0;
    margin-top: 0;
  }

  .navbar-links a {
    display: block;
    color: #344563;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 16px;
    border-radius: 4px;
    transition: ease 0.4s;
    text-decoration: none;
  }

  #menu-icon {
    display: none;
  }

  .headline {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    border-bottom-left-radius: 70px;
    margin-top: 70px;
    background-image: url(../Images/Headerbg.png);
    background-size: 1397.4px 721.46px;
    background-position: right;
    background-repeat: no-repeat;
  }

  .headline-bord {
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    margin-top: 300px;
    padding-left: 0;
  }

  .headline-h1 {
    width: auto;
    font-size: 48px;
    font-weight: 700;
    margin-left: 10px;
  }

  .headline-p {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 400;
    width: 100%;
  }

  .headline-connect {
    font-size: 16px;
    font-weight: 500;
  }

  .work-container1,
  .work-container2 {
    width: 80%;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .work {
    width: 100%;
    height: 100%;
    padding: 48px 46px;
  }

  .work-container1 img,
  .work-container2 img {
    width: 100%;
    height: 100%;
    margin: 0.5%;
  }

  .work-container1 img {
    order: 1;
  }

  .work-container2 img {
    order: 2;
  }

  .work-container1 .work {
    order: 2;
  }

  .work-container2 .work {
    order: 1;
  }

  .facebook ul {
    margin-left: 0;
    display: grid;
    grid-template-columns: 80% 20%;
  }

  .work-p {
    font-size: 16px;
    font-weight: 400;
  }

  .desktop_link {
    display: block;
  }

  .btn {
    font-size: 17px;
    font-weight: 500;
    margin-top: 20px;
  }

  .about-container {
    width: 100%;
    padding: 50px;
    background-color: #fff;
    border-top-right-radius: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .about-r {
    width: 45%;
    padding: 10px;
  }

  .about-l {
    width: 45%;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  .about-text {
    margin-top: 30px;
    font-size: 40px;
    font-weight: 700;
  }

  .about-r p {
    font-size: 16px;
    font-weight: 400;
  }

  .lang {
    display: flex;
  }

  .lang-bord {
    background-color: #f7f7f9;
    margin: 1%;
    padding: 10px;
    width: 122px;
    height: 120px;
    display: flex;
    flex-direction: column;
  }

  .about-l h2 {
    margin: 10px;
    font-size: 20px;
    font-weight: 500;
  }

  .lang h3 {
    font-size: 15px;
    font-weight: 500;
    margin-top: 15px;
  }

  .contact-me {
    width: 100%;
    padding: 75px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../Images/contactformbackground2x.png);
    background-position: center;
    background-size: 1290.66px 718.7px;
  }

  .contact-me-summary {
    width: 569px;
  }

  .contact-form {
    text-align: center;
    width: 447px;
  }

  .final-btn {
    width: 142px;
  }
}
